
/*   
  @keyframes slideshow {
    0% {
      background-image: url(../assets/d-adnimation/Frame30.png);
    }
    33% {
      background-image: url(../assets/d-adnimation/Frame31.png);
    }
    66% {
      background-image: url(../assets/d-adnimation/Frame32.svg);
      
    }
    100% {
        background-image: url(../assets/d-adnimation/Frame30.png);
      }
  } */
  .header1 {
    /* background-size: 100%; */
    background-image: url(../assets/d-animation/Frame-32.svg), url(../assets/d-animation/Frame-30.png);
    background-position-x: -15px, center;
    background-position-y: -15px, center;
    animation: slideshow 4s infinite alternate;
  }
  
  @keyframes slideshow {
    100% {
      background-image: url(../assets/d-animation/Frame-32.svg), url(../assets/d-animation/Frame-31.png);
      background-position: center, center;
  }
  }
  
  /* responsive version*/
  @media (max-width: 768px) {
    .header1 {
    background-image: url(../assets/m-animation/Frame-28.svg), url(../assets/m-animation/Frame-24.png);
    background-position-x: -10px, center;
    background-position-y: -10px, center;
    animation: mobile-slideshow 4s infinite alternate;
    } 
  }
    
    @keyframes mobile-slideshow {
      100% {
        background-image: url(../assets/m-animation/Frame-28.svg), url(../assets/m-animation/Frame-29.png);
        background-position: center, center;
      }
    }