/* header */
@media (max-width:768px){

    header nav{
        justify-content: space-between;
    }

    header nav ul{
        display: none !important;;
    }

    .burger-bar {
        width: 30px;
        height: 4px;
        background-color: #fff;
        position: relative;
      }
      
      .burger-bar::before,
      .burger-bar::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #fff;
        left: 0;
      }
      
      .burger-bar::before {
        top: -10px;
      }
      
      .burger-bar::after {
        top: 10px;
      }
      
}
/* body */
@media (max-width:768px){

    #text-box{
        height:auto;
    }    
       #text-box .container .text-container{
        flex-direction: column;
       }
    
       #text-box .container .text-container p:first-child{
        margin-bottom: 25px;
       }
    
       #text-box .container .text-container p{
        width:100%;
       }
    
       #third-section{
        height:auto;
       }
    
       #third-section button{
        width:100px;
        height:100px;
        padding:25px 20px 32px 26px;
       }
    
       #third-section button img{
        width:37px;
        height:47px;
       }
    
    }
    /* footer */
    @media (max-width:768px){

        footer{
            height:auto;
        }
        
        footer .container{
            grid-template-columns: 1fr;
            gap:18px;
            place-items: center;
            text-align: center;
        }
    
        footer .container div:first-child{
            margin-top: 0;
        }
    
        footer .container #contact{
            text-align: center;
        }
    
        footer small{
            margin-top: 0;
        }
        
    }